@media all and (max-width: 991px) {

    .menu-btn-1 {
        display: block !important;
    }

    .widget-menu-box-area {
        position: fixed;
        top: 150px;
        right: -50%;
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .widget-menu-box-area.active {
        right: 3% !important;
    }

    h1 {
        font-size: 36px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h1 span {
        font-size: 45px !important;
    }

    .about-img {
        margin: 0 auto;
    }

    .about-conts {
        padding-top: 60px;
    }

    .sec-header h2 {
        font-size: 42px !important;
    }

    .about-img {
        margin-bottom: 70px;
    }

    .portfolio-items {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (max-width: 767px) {

    .portfolio-items {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }

    .top-part-single-tes-itm {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
    }

}



@media all and (max-width: 480px) {
    .menu-btn-1 {
        display: block !important;
    }

    .header-btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .header-btns a {
        width: 100%;
        text-align: center;
    }


    h1 {
        font-size: 26px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h2 span {
        font-size: 24px !important;
    }

    h1 span {
        font-size: 36px !important;
    }

    .sec-header h2 {
        font-size: 24px !important;
    }

    .about-me-text {
        padding: 45px 30px;
    }

    .about-me-text h3 {
        font-size: 22px;
    }

    .about-me-text p {
        font-size: 14px;
    }

    .testimonial-slider.owl-carousel .owl-nav button.owl-next {
        margin-right: -8px;
    }

    .testimonial-slider.owl-carousel .owl-nav button.owl-prev {
        margin-left: -8px;
    }

    .portfolio-btns button {
        padding: 5px 10px;
    }

    .row-group {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .submit-btn button {
        border: none;
        outline: none;
        width: 100%;
    }

    .sec-paddding {
        padding: 80px 0 !important;
    }

    .sec-header {
        padding-top: 60px;
    }

    

}